#map {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  left: 0;
}
img {
  margin: auto;
  padding: 10px;
  display: block;
  width: 200px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

@media (min-width: 600px){
  img {
    margin: auto;
    padding: 10px;
    display: block;
    width: 400px;
  }
  .mapboxgl-popup {
    max-width: 500px !important;
  }
}

img {
  margin: auto;
  padding: 10px;
  display: block;
  width: 200px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

/* /* /*menú selección*/
#menu {
  display: flex;
  align-items: center;
  padding: 3px;
  background: #fff;
  position: absolute;
  z-index: 1;
  bottom: 2%;
  right: 30%;
  border-radius: 3px;
  width: 595px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  padding: 3px;
  font-size: 11px;
  color: #404040;
  display: flex;
  margin: 0;
  padding: 0;
  padding: 3px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* #menu a:last-child {
  border: none;
}
 */
#menu a:hover {
  background-color: #941a1a;
  color: #404040;
}

#menu a.active {
  background-color: #1a461e6c;
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10%;
}

#menu a.active:hover {
  background: #b82121;
}

#remove-directions {
  position: absolute;
  background: pink;
  padding: 10px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}


.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

.mapbox-directions-profile {
  background: #fff;
  margin: 7px 0 0;
  padding: 0px;
  border-radius: 15px;
  vertical-align: middle;
  width: 150px
}
.mapbox-directions-profile label {
  cursor: pointer;
  vertical-align: top;
  display: block;
  border-radius: 16px;
  padding: 3px 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  text-align: center;
  width: 50%;
  float: left;
}