@import url('https://use.typekit.net/bzz2oea.css');

#map {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  left: 0;
}

img {
  margin: auto;
  padding: 10px;
  display: block;
  
}

h2 {
  font-family: interstate-condensed, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;

}

i {
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: italic;
}

p {
  font-family: axia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.10rem;
}

@media (min-width: 600px) {
  img {
    margin: auto;
    padding: 10px;
    display: block;
    width: 400px;
  }
  .mapboxgl-popup {
    max-width: 500px !important;
  }
}

img {
  margin: auto;
  padding: 10px;
  display: block;
  width: 500px;
}

body, input, textarea {
  color: rgba(0,0,0,.75);
  font-size: 15px;
  line-height: 24px;
  font-family: interstate-condensed, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.15rem;
  -webkit-font-smoothing: antialiased;
}

.txt-sm txt-bold mb6{
  font-size: 0.75rem;
}

.txt-bold {
  font-weight: 900!important;
  font-size: smaller;
}

.mapboxgl-popup-content{
  background-color: #ffffffec;
}

#menu {
  display: inline-flex; 
  align-items: center;
  padding: 5;
  position: absolute;
  z-index: 1;
  bottom: 2%;
  right: 30%;
  width: 600px;
 /*  border: 1px solid rgba(0, 0, 0, 0.4); */
  font-family: 'Open Sans', sans-serif;
  justify-items: center;
  align-items: center;
}

#menu a {
  padding: px;
  color: #404040;
  display: flex;
  margin: 5px;
  padding: 5px;
  font-family: axia, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 18px;
  background-color: #ffffff;
  display: inline-flex; 
  font-size: 10px;
  line-height: 18px;
  padding: 3px 12px;
  text-align: center!important;
}

#menu a:hover {
  background-color: rgb(138,138,203);
  color: #404040;
}

#menu a.active {
  background-color: rgb(68,142,228);
  color: #ffffff;
 /*  display: inline-flex; */
  border-radius: 18px;
  font-size: 10px;
  line-height: 18px;
  padding: 3px 12px;
  text-align: center!important;
}

#menu a.active:hover {
  background: rgb(59,178,208);
}

#remove-directions {
  position: absolute;
  background: pink;
  padding: 10px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none !important;
}

.mapbox-directions-profile {
  background: rgba(221, 217, 217, 0.582);
  margin: 7px 0 0;
  padding: 0px;
  border-radius: 15px;
  vertical-align: middle;
  width: 150px;
}
.mapbox-directions-profile label {
  cursor: pointer;
  display: block;
  border-radius: 16px;
  padding: 3px 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  text-align: center;
  width: 50%;
  float: left;
}


.mapbox-directions-inputs button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right *.active {
  display: block;
  background-color: transparent;
}

.mapbox-directions-instructions-wrapper {
  max-height: 60vh;
}

.mapbox-directions-instructions {
  overflow: scroll;
}

.mapboxgl-ctrl-attrib .mapbox-improve-map {
  font-weight: 700;
  margin-left: 2px;
  display: none;
}
